body{
    
    
	max-width: 1140px;
    min-height: 440vh;
    line-height: 150%;
    height: calc( 100% - 40px );
    width: calc( 100% - 40px );
    color:aliceblue;
    background: linear-gradient(#1A2238,#5d026f,#36EACC);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    
}

.header video{
    border-radius: 5px;
    box-sizing: border-box;
  
    position: absolute;
    z-index:-1;
   width:100vw;
   height:100%;
   object-fit: cover;
    margin:0px 0 36px 0;
    margin: 0 auto;
}

header{
    
    width:100%;
    height:100vh;
    margin-bottom:10px;
}
header + section{
    font-weight: 200px;
    position:absolute;
    top:0;
    z-index: 1;
    width: 100%;
    padding:20px 80px;
    display:flex;
    justify-content: flex-start;

}
header .sologan p{
    position: absolute;
   font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    margin:0 auto;
}


.overlay{
    font-weight: 1000;
    position:absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding:30px 100px;
    display:flex;
    justify-content: flex-start;

}
.overlay article h2{
    float:right;
    display:flex;
    position: relative;
    right:-50px;
    top:-15px;
}




body header section .overlay img{
    float:left;
   
    max-width: 40px;
    position: relative;
   
    display: flex;
    bottom:-17px;
}
main .option nav a{
text-decoration: none;
color:#ffffff;
padding: 20px;
font-weight: 500;
display: inline-block;
}
main .option nav{
    position: absolute;
    z-index: 1;
    right:80px;
    top:40px;
}

main .option nav a:hover{
    color:#36EACC
}



body header section{
    margin:0 auto;
}

   

main>article{
    object-fit:cover ;
    padding: 10px 60px;
    background-size: cover;
    margin:0 auto;
   
}
#youtube{
    position: relative;
    right:-70px;
    box-sizing: border-box;
    
    width:100%;
    
    height: 100%;
background: linear-gradient(#1A2238,#870F6D);
    border-radius: 20px;
    border:3px solid #36EACC; 
    
   
}
#youtube figure img{
width:70px;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
right: -85px;
bottom:-25px;
border: 3px solid #ffffff;
}
#youtube h3 img{
    position: relative;
    top:-30px;
    right:-180px;
    width:35px;
    z-index: 3;

}
#youtube video{
    width:496px;
    border-radius: 20px;
    position: relative;
    bottom: -5px;
    border-top: 3px solid #36EACC;
}
aside h2{

    position: relative;
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    right:-180px;
    box-sizing: border-box;
    width:130px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(#1A2238,#870F6D);
    
}
#youtube h3 {
    color:#ffffff;
    text-transform: uppercase;

    
}
#youtube h3{
    display:flex ;
    align-items: center;
    justify-content: center;
    position: relative;
    top:0;
    right:-10px;
}
#youtube h3 a{
    font-size: larger;
    width:200px;
    height: 50px;
    padding:10px 35px 10px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    color:#ffffff;
    position: relative;
    top:-30px;
    right:10px;
}
#youtube h3 a:hover{
    color: #36EACC;
}
aside{
    float:left;
}
#onlineproducts{
    position: relative;
    display: flex;
    justify-content: center;
    right:-180px;
    bottom:-25px;
}
#onlineproducts article{
position: relative;
bottom:-25px;
  box-sizing: border-box;
  width:500px;
  height: 400px;
  border-radius: 20px;
  background: linear-gradient(#1A2238,#870F6D);
  border:3px solid #36EACC;

}
#onlineproducts h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-72px;
    right:-140px;
    width: 210px;
    height: 50px;
    background: linear-gradient(#1A2238,#870F6D);
    margin:10px;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    text-transform: uppercase;
}
#onlineproducts nav ul li a img{
    width:100px;
    
}
#onlineproducts nav{
    position: relative;
    bottom:45px;
    margin:0 auto;
    padding: 0px 0px 0px 70px ;
}
#onlineproducts nav ul li{
    list-style: none;
   
}
#onlineproducts article nav ul li> a{
    display: block;
}
#onlineproducts nav ul li h3 a{
    color:#ffffff;
    position: relative;
    top: -70px;
    right:-150px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
}
#onlineproducts nav ul li h3 a:hover{
    color: #36EACC;
}
p{
    font-family: Roboto, sans-serif;
}
#Achievement{
    position: relative;
    
    width:800px;
    height:400px;
    padding: 20px;
    margin: 70px;
    background: linear-gradient(#1A2238,#870F6D);
    border-radius: 20px;
    right:-190px;
    border: 3px solid #36EACC;
    bottom: -30px;

}
#Achievement> img{
    position: relative;
    top:-50px;
    right:-50px;
    width:350px;
    border-radius: 20px;
    border: 3px solid #36EACC;
}
pre{
    position: relative;
    float: right;
    left:-40px;
}
figure>h2{
    position: relative;
    left:65px;
    top:-7px;
    font-weight: 900;
}
#Experience{
    position: relative;
    float: right;
    right:-120px;
    display: flex;
    flex-wrap: wrap;
    
}
#Experience>h2{
    
    position: relative;
    right:-180px;
    padding:10px 20px 10px 20px;
    margin:20px;
    width:150px;
    height:50px;
    top:-410px;
    right:-400px;
    background: linear-gradient(#1A2238,#870F6D);
    border-radius: 20px;
}
.sticker{
    max-width:500px;
    padding: 30px ;
    margin:20px;
    border: 3px solid #36EACC;
    border-radius: 20px;
    position: relative;
    right:-15px;
    bottom: 320px;
    background: linear-gradient(#1A2238,#870F6D);
}
.skills figure img{
    position: relative;
    right:-120px;
    max-width: 400px;
    width: 100%;
    height:400px;
    border-radius: 20px;
    margin: 0 auto;
    margin: 20px;
    border: 3px solid #36EACC;
    display: flex;
    flex-wrap: wrap;
    
}
.skills>h2{
    position: relative;
    right:-400px;
    top:-100px;
    margin:20px;
}
.skills{
    position: relative;
    left:-400px;
    bottom: -100px;
    display:flex;
    flex-wrap: wrap;
}

#footer{
position: absolute;
bottom: -600px;
bottom: -1050px;
width:1100px;
}
#footer footer ul{
 
    max-width:100vw;
    height: 250px;
    padding:20px 30px;
    margin:20px;
    background-color: black;
    border-radius: 20px;
    border: 3px solid #36EACC;
}
#footer footer ul a{
    
    color: #ffffff;
   
    top:-800px;
  
    display: block;
    padding: 10px;
    
}
#footer ul img{
    position: relative;
    bottom: -15px;
    right:-300px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid #870F6D;
    z-index: 2;
    max-width:40px;
    width:100%;
}
